
/* Variables */
:root{
	--base: #ddd ;
	--light: #fff ;
	--dark:#333;
	--shadow: 0 1px 5px rgba(104,104,104,0.8);
}


*{
	margin: 0;
	padding: 0;
	
}

html {
	box-sizing: border-box;
}

body{
	
}

hr{
	margin: 10px 10px;
	color: var(--shadow);
}

h1{
	text-transform: uppercase;
}

.wrap{
	display: grid;
	grid-gap: 1.3rem;
	line-height: 1.4;
}

/* Main Navigation - Header */

.main-nav{
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: #1F2833;
	color: #66FCF1;
	padding: 4rem 3rem;
	margin: 1.2rem 1rem 0rem 2rem;
	box-shadow: var(--shadow);
}



.main-nav div{
	border: 1px solid white;
	padding: 1rem 1rem;
}

.main-nav h1{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	letter-spacing: 2px;

}



/* Information Segment */

.information-segment {
	margin-left:5rem;
	display: grid;
	grid-gap: 1rem;
	grid-template-areas: 
	'box-a box-b';
}


/* BOX A */

.box-a{
	display: block;
	background: var(--base);
	color:var(--dark);
	box-shadow: var(--shadow);
}

.box-a h2 {
	line-height: 2;
}





/* CONTACT */
.contact-container{
	display: flex;
	flex-direction: column;
	padding: 0px 10px;	
}

.contact-container > div {
	line-height: 2;
	word-spacing: 10px;
	
}


.contact p {
	font-family: "Times New Roman", Helvetica, sans-serif;
	font-weight: normal;
	font-size: 16px;
}


/* SOCIAL MEDIA */

.social-container{
	display: flex;
	flex-direction: column;
	padding: 0px 10px;	
}

.social-container > div{
	line-height: 2;
	word-spacing: 10px;
}
.social-media a{
	text-decoration: none;
	color: var(--dark);
}

.social-media a:hover{
	color:var(--light);
		
}



/* BOX B */

.box-b {
	display: block;
	padding: 0px 10px;
	box-shadow: var(--shadow);
	width: 85%;
	
}



.box-b h2{

}

/* BIOGRAPHY */

.biography {
	

}

.biography p {
	padding: 10px 30px;
	font-family:;
	font-style: oblique;

}

.info-container{
	display: flex;
	flex-direction: column;
	padding: 10px 30px;
	
}

.info-container > div {
	margin-top: 30px;
	display: flex;
	flex-direction: row;

	
}

.description {
	margin-left: 120px;
}


.info-container h4 {
	margin-right: 30px;
}

.education-container{
	display: flex;
	flex-direction: column;
	padding: 10px 30px;
}

.education-container > div {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.education-container h4 {
	margin-right: 30px;
}


.skill-container {
	padding: 10px 45px;
}